*.iml
**/.idea
target/
*/target
.DS_Store
**/.DS_Store
rebel.xml
rebel.xml.bak
*/rebel.xml.bak
pom.xml.versionsBackup
metastore_db
derby.log
*.log
*.project
*.bak
*.classpath
.settings/
/target/
**/catalina.base_IS_UNDEFINED